<article class='post text mini-post'>
  <aside class='meta-info mini'>
    <h3 class='episode-number'>
      <%= link_to [episode.show, episode] do %>
        Episode #<%= episode.number %>
      <% end %>
    </h3>
    <p class='post-date'>
      <%= l episode.published_on %>
    </p>
  </aside>

  <h1 class='title'>
    <%= link_to episode.title, [episode.show, episode] %>
  </h1>
  <p class="short-description"><%= truncate(episode.description, length:180, omission: '...') %></p>
</article>
