<% content_for :page_title, @episode.title %>
<% content_for :meta_description, @episode.description %>
<% content_for :body_class, "episodes" %>
<% content_for :header do %>
  <%= render @episode.show %>
<% end %>

<section id='posts'>
  <article class='post text'>
    <p class='episode-number'>
      <%= link_to [@episode.show, @episode] do %>
        Episode #<%= @episode.number %>
      <% end %>
    </p>
    <h1 class='title'>
      <%= link_to @episode.title, [@episode.show, @episode] %>
    </h1>
    <aside class='meta-info'>

      <p class='post-date'>
        <%= l @episode.published_on %>
      </p>
      <p>
        <%= distance_of_time_in_words @episode.duration.to_f %>
      </p>
    </aside>

    <p><%= @episode.description %></p>

    <div class="listen">
      <audio preload="none" controls="controls">
        <%= tag :source,
          src: @episode.archive,
          type: 'audio/mpeg' %>
      </audio>
      <%= link_to @episode.archive do %>
        Direct Download
      <% end %>
      (<%= number_to_human_size @episode.file_size, precision: 2 %>)
    </div>

    <% unless @episode.notes.blank? %>
      <h3>Notes &amp; Links</h3>
      <%== format_podcast_notes @episode.notes %>
    <% end %>

    <section id="podcast-questions">
      <h3>To have your questions answered on the air</h3>
      <p>
        Email your questions to <%= mail_to @episode.show.email %> or Tweet to
        us <a href="http://twitter.com/RubyIndiaOrg">@RubyIndiaOrg</a>.
      </p>
    </section>
  </article>
</section>
    <footer>
      <section id="footer-container">
        <section class="etc">
          <p>
            Brought to you by the folks at <a href="http://www.rubyindia.org">Ruby India</a> and  <a href="http://www.bigbinary.com">BigBinary.</a>
          </p>
          <nav>
            <ul>
              <li>
                <a href='http://twitter.com/RubyIndiaOrg' id='twitter'>
                  twitter
                </a>
              </li>
              <li>
                <a href='http://www.rubyindia.org/' id='contact'>
                  newsletter
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </section>
    </footer>
