<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="description" content="<%= yield(:meta_description).presence || t('layouts.description') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <title><%= yield(:page_title).presence || t('layouts.app_name') %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script>
      // Remove render-blocking JavaScripts
      // https://developers.google.com/speed/docs/insights/BlockingJS
      (function() {
        function loadStylesheet(url) {
          var stylesheet = document.createElement('link');
          stylesheet.type = 'text/css';
          stylesheet.rel = 'stylesheet';
          stylesheet.href = url;
          document.getElementsByTagName('head')[0].appendChild(stylesheet);
        }

        loadStylesheet('//cloud.typography.com/6716232/768182/css/fonts.css');
        loadStylesheet('<%= asset_path 'application', type: :stylesheet %>');
      })();
    </script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body class="<%= yield :body_class %>">
    <section id="container">
      <%= yield(:header) %>
      <%= yield %>
    </section>

    <footer>
      <section id="footer-container">
        <section class="etc">
          <p>
            Brought to you by the folks at <a href="http://www.rubyindia.org">Ruby India</a> and  <a href="http://www.bigbinary.com">BigBinary.</a>
          </p>
          <nav>
            <ul>
              <li>
                <a href='http://twitter.com/RubyIndiaOrg' id='twitter'>
                  twitter
                </a>
              </li>
              <li>
                <a href='http://www.rubyindia.org/' id='contact'>
                  newsletter
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </section>
    </footer>

    <%= render 'analytics' %>
  </body>
</html>
